* {
    background-color: #CCC;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket h1 {
    color: #000;
}

.general-area {
    border: 1px solid #0f0f0f;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
}

.fuel-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: #000;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #4043b7;
    color: #fff;
    cursor: pointer;
    outline: 0;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 0;
    font-size: 16px;
}

button:hover {
    opacity: .7;
}

.fuel-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.fuel-image img {
    width: 100%;
    max-width: 200px;
    height: auto;
    background-color: black;
}

.fuel-form {
    text-align: center;
    font-size: 1.5rem;
    margin-top: .3rem;
    border-radius: 15px;
    background-color: #000;
}

@media (max-width: 505px) {
    .ticket h1 {
        color: #000;
        font-size: 25px;
    }
}